body{
    background-color: #EEE;
    padding-top: 5%;
}

#divRegister{
    display: none;
    padding: 5%;
    width: 35em;
    margin: auto;
    border-radius: 5px;
    border-style: hidden;
}

#divLogin{
    padding: 5%;
    width: 35em;
    margin: auto;
    border-radius: 5px;
}
.alert.alert-success{
    display: none;
    position: relative;
}
.alert.alert-danger{
    display: none;
    position: relative;
}